all span{
  text-align: left;
  font-weight: bolder;
}

div {
  color:whitesmoke;
}

mat-card-subtitle{
color: white;
}

.info{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 10px;
  background-color: #3f51b5;
  opacity: 75%;
  padding: 1em;
  border-radius: 5%;
  color: white;
}

/*para dispositivos pequeños*/
@media only screen and (max-width: 600px) {
  .info {
    display: none;
  }
}
