all span{
  text-align: left;
  font-weight: bolder;
}

div {
  color:whitesmoke;
}

.info{
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-size: 10px;
  background-color: black;
  opacity: 65%;
  padding: 1em;
  border-radius: 5%;
}

/*para dispositivos pequeños*/
@media only screen and (max-width: 600px) {
  .info {
    display: none;
  }
}
