<!--
  <mat-form-field appearance="fill">
  <mat-label>Albums</mat-label>
  <mat-select>
    <mat-option>None</mat-option>
    <mat-option *ngFor="let album of allalbums" [value]="album.details.title">{{album.details.title}}</mat-option>
  </mat-select>
</mat-form-field>

<form appearance="fill">
  <div><label>Album</label></div>
  <select matNativeControl id="mySelectId">
    <option value="All" disabled selected></option>
    <option *ngFor="let album of allalbums" [value]="album.details.title" value="album.details.title">{{album.details.title}}</option>
  </select>
</form>
-->
<div class="selector">
  <button mat-flat-button color="primary" class="filter-form" (click)="filter()">Buscar</button>
  <mat-select class="filter-select" [(ngModel)]="filterData.selector">
    <mat-option *ngFor="let option of filterOptions" value="{{option.key}}">{{option.name}}</mat-option>
  </mat-select><!--*ngIf="filterData.selector"-->
  <mat-form-field id="form-field" class="field">  
    <input matInput class="filter-form input" [(ngModel)]="filterData.value" placeholder="">
  </mat-form-field>
</div>
<div>
  <app-listacanciones [songs]="asongs"></app-listacanciones>
</div>
