.selector{
  color: white;
  margin-left: 3%;
  font-size: large;
  justify-content: flex-end;
  display: flex;
}
option{
  display: block;
  width: 30px;
  color: black;
}


.filter-form{
  display: inline-block;
  width:100px;
  height: 35px;
  margin: 0 5px 0 0;
  background-color: white;
  border-radius: 5px;
}

.filter-form.input{
  width: 350px;
}
button:hover{
  background-color: cyan;
}
