.selector{
  color: white;
  margin-left: 3%;
  font-size: large;
  justify-content: flex-end;
  display: flex;
}
option{
  display: block;
  width: 30px;
  color: black;
}
.filter-select {
  background:whitesmoke;
  display: inline-block;
  width:100px;
  height: 35px;
  margin: 0 5px 0 0;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  border-radius: 3px;
}

.filter-form{
  display: inline-block;
  width:100px;
  height: 35px;
  margin: 0 5px 0 0;
  /*background-color: white;
  border-radius: 5px; */
}
.field div {
  padding: 0;
  border: none;
}

/deep/ .mat-form-field-infix {
  padding: 0;
  border: none;
}

/deep/ .mat-form-field-appearance-legacy .mat-form-field-infix{
  padding: 0;
  border: none;
}

.filter-form.input{
  width: 350px;
  background-color:whitesmoke;
  color: black;
}
button:hover{
  background-color: #369;
}

.selector button {
  margin-left: 5px;
}