<div class="reproductor" *ngIf="selectedSong">

    <div class="cover"> 
            <img class="img" src="assets/images/{{getAlbumDetails(selectedSong.album).cover_img}}"/>
    </div>  
    
    <div class="info">
        <div class="infoTitle">{{selectedSong.title}}</div>
        <div class="infoAuthor">{{selectedSong.composer}}</div>
    </div>
    
     <div class="btn">
        <audio class="player" src="{{getSongCompleteLocalPath(selectedSong.album)}}" type="audio/mp3" controls autoplay></audio>
    </div>
</div>
