<div class="reproductor">

    <div class="cover"> 
            <img class="img" *ngIf="selectedSong" src="assets/images/{{getAlbumDetails(selectedSong.album).cover_img}}"/>
            <img class="img" *ngIf="!selectedSong" src="assets/images/LogoMJs.png"/> 
    </div>  
    
    <div class="info" *ngIf="selectedSong">
        <div class="infoTitle">{{selectedSong.title}}</div>
        <div class="infoAuthor">{{selectedSong.composer}}</div>
    </div>
   <!-- <div class="btn">
        <img class="botones" src="assets/images/aleatorio.png"(click)="onRandom()"/>
        <img class="botones rotate" src="assets/images/alante.png" (click)="onBack()"/>
        <img class="botones" *ngIf="stop" src="assets/images/play.png" (click)="onPlay()" />
        <img class="botones" *ngIf="!stop" src="assets/images/pausa.png" (click)="onPause()">  
        <img class="botones" src="assets/images/alante.png" (click)="onNext()"/> 
        <img class="botones" src="assets/images/repetir.png" (click)="onLoop()"/>
    </div> -->
    <audio src="{{getSongCompleteLocalPath(selectedSong.album)}}" type="audio/mp3" controls></audio>
    <!-- <div class="barra">
        <input type="range" min="1" max="100" value="50">
    </div> -->
</div>
