.botones{
    width: 20px;
    margin-right: 1em;
  }
  .reproductor{
    flex-grow: 1;
    background-color: whitesmoke;
    width: 100%;
    min-width: 270px;
    padding: 1em;
    bottom: 0px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 4px;
  }
  .rotate{
    transform: rotate(180deg);
  }