h1{
  padding-left: 10px;
  }
.logocabecera {
  width: 5em;
  height: 5em;
  border-radius: 2px;
}
.cont{
 padding-left: 40px;
 display: flex;
 padding-top: 20px;
}
.fijar{
  display: block;
  position: relative;
  bottom: 0em;
  width: 100%;
  padding-top: 2em;
}
#main-box{
  bottom: 0;
  position: fixed;
  width: 100%;
}

/*para dispositivos pequeños*/
@media only screen and (max-width: 700px) {
  h1{
    padding-left: 0;
    font-size: 2.5em;
    }
    .logocabecera {
      width: 4em;
      height: 4em;
      border-radius: 1px;
    }
}

@media only screen and (max-width: 1600px) {
  h1{
    padding-left: 0;
    font-size: 5em;
    }
    .logocabecera {
      width: 6em;
      height: 6em;
      border-radius: 1px;
    }
}
