h1{
  padding-left: 10px;
  }
.logocabecera {
  width: 5em;
  height: 5em;
  border-radius: 2px;
}
.cont{
 padding-left: 40px;
 display: flex; 
 padding-top: 20px;
}
.fijar{
  position:fixed;
  bottom: 0em;
  width: 100%;
}