<h2 id="lista-title">Lista de canciones</h2>
<main class="contenedor">
  <div class="list">
    <mat-action-list class="songs">
      <!--Don't forget the asterisk (*) in front of ngFor. It's a critical part of the syntax-->
      <!--listen for the song item click event and update the song details.-->
      <mat-list-item *ngFor="let song of songs" (click)="onSelect(song)" [class.selected]="song === selectedSong">
        <div>
          <div class="song-list-track">{{song.track}} - </div>
          <!--Número de pista en el album-->
          <div class="song-list-title">{{song.title}}</div>
          <div class="song-list-album">{{getAlbumDetails(song.album).title}}</div>
        </div>
      </mat-list-item>
    </mat-action-list>
    <div class="no_res" *ngIf="songs.length==0">SIN RESULTADOS</div>
  </div>
  <div class="fondo">
      <app-detallescancion class= "detalles" [song]="selectedSong"></app-detallescancion>
      <!--<img class="imagenFondo" src="assets/images/LogoMJs.png"/>-->
      <ng-template [ngIf]="songSelected">
        <img class="imagenFondo" src="assets/images/{{getAlbumDetails(selectedSong.album).cover_img}}"/>
      </ng-template>

      <ng-template [ngIf]="!songSelected">
        <img class="imagenFondo" src="assets/images/LogoMJs.png"/>
      </ng-template>
  </div>
</main>
